doctype html
html(lang="en")
  head
    title= pageTitle
    != css("ext-6.0.0/build/classic/theme-gray/resources/theme-gray-all.css")
    != css("font-awesome.min.css")

    script(type='text/javascript').
      var USER_EMAIL = "#{email}";
      var USER = !{JSON.stringify(user)};
  body
    script(src="/socket.io/socket.io.js")
    != js("ext-6.0.0/build/ext-all.js")
    != js("main")