.x-panel-header-title-default > .x-title-text-default::after {
  content: none;
  font-family: 'FontAwesome'
}

.x-panel-header-title-default {
  font-family: 'FontAwesome', "Open Sans","Helvetica Neue",helvetica,arial,verdana,sans-serif
}

.x-panel-header-title-default > .x-title-icon-wrap-default > .x-title-icon-default {
  height: 0;
}

.x-body,
.x-panel-body-default,
.x-window-header-title-default,
.x-window-body-default {
  font-family: 'FontAwesome', "Open Sans","Helvetica Neue",helvetica,arial,verdana,sans-serif  
}

.main_panel-toolbar {
  background-color: #5fa2dd;
}

.panel-no-border > .x-panel > .x-panel-body {
  border: none; 
}

.x-grid-item {
  font: 300 13px/19px 'FontAwesome', "Open Sans","Helvetica Neue",helvetica,arial,verdana,sans-serif;
}

.x-tree-icon-leaf::before {
  content: "\f096";
}

.x-tree-icon-parent-expanded::before {
  content: "\f096"; 
}

.x-tree-icon-parent::before {
  content: "\f096";  
}